<script>
/*const [emp,setEmp] = useState({
    FirstName: "",
    LastName: "",
    Birthdate: "",
    GenderCode: null,
    RaceCode: null,
    EthnicCode: null,
    Role: "",
    Address: "",
    PhoneNumber: "",
    Email: "",
    Password: "",
    DepartmentID: null,
    Department: "",
    Specialty: "",
    IsPrimaryCare: null,
    AssignedDoctorID: ""
})

const change = (e) =>{
    setEmp(prev=>({...prev, [e.target.name]:e.target.value}));
}
//const nav = UseNavigate();
const submit = async e =>{
    e.preventDefault()
    emp.DepartmentID = await db.query("SELECT DepartmentID FROM department WHERE DepartmentName="+emp.Department)    
    await router.post("/addemp", emp)
    if (emp.Role="Doctor"){
        const EmployeeID = await db.query("SELECT EmployeeID FROM employee WHERE Email="+emp.Email);
        await router.post("/adddoc",[EmployeeID,emp.Specialty,emp.IsPrimaryCare])
    }
    if (emp.Role="Nurse") {
        const EmployeeID = await db.query("SELECT EmployeeID FROM employee WHERE Email="+emp.Email);
        await router.post("/addnur", [empid,emp.AssignedDoctorID])
    }
    await router.get("/admin/home");
}*/
</script>
<div ClassName="Employee Form">
    <a href="/admin/home"><button>Back</button></a>
    <h1>Add New Employee</h1>
    <form action="/admin/addemp" method="post">
        <input type="text" placeholder="First Name" name="FirstName" maxlength="30"/>
        <input type="text" placeholder="Last Name" name="LastName" maxlength="30"/>
        Birth Date:<input type="date" placeholder="YYYY-MM-DD" name="Birthdate"/>
        <br><label>Gender:</label>
        <select name="GenderCode">
            <option value="">Select Sex</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
        </select>
        <label>Race:</label>
        <select name="RaceCode">
            <option value="">Select Race</option>
            <option value="1">White</option>
            <option value="3">African</option>
            <option value="2">Asian</option>
            <option value="5">Other</option>
        </select>
        <label>Ethnicity:</label>
        <select name="EthnicityCode">
            <option value="">Select Ethnicity</option>
            <option value="1">Hispanic</option>
            <option value="2">Latin American</option>
            <option value="3">African</option>
            <option value="4">Caribbean</option>
            <option value="5">Indian</option>
            <option value="6">Melanesian</option>
            <option value="7">Chinese</option>
            <option value="8">Japanese</option>
            <option value="9">Korean</option>
            <option value="10">Arabic</option>
            <option value="11">European</option>
            <option value="12">Other</option>
        </select>
        <br><label>Role:</label>
        <select name="Role">
            <option value="">Select Role</option>
            <option value="Admin">Admin</option>
            <option value="Doctor">Doctor</option>
            <option value="Nurse">Nurse</option>
            <option value="Receptionist">Receptionist</option>
        </select>
        <label>Department:</label>
        <select name="DepartmentID">
            <option value="">Select Department</option>
            <option value="1">General</option>
            <option value="2">Optometry</option>
            <option value="3">Cardiology</option>
            <option value="4">Orthopedics</option>
        </select>
        Department:<input type="text" placeholder="Department" name="Department" maxlength="30"/>
        <br>Address:<input type="text" placeholder="Address" name="Address" maxlength="100"/>
        Phone Number:<input type="tel" placeholder="000000000" name="PhoneNumber" minlength="10" maxlength="10"/>
        <br>Email:<input type="email" placeholder="Email" name="Email"/>
        Password:<input type="text" placeholder="Password" name="Password"/>
        <br><br>If a Doctor: <br>
        Specialty:<input type="text" placeholder="Specialty" name="Specialty" maxlength="20"/>
        Is PCP(0 for No, 1 for Yes):<input type="text" placeholder="0" name="IsPrimaryCare" minlength="0" maxlength="1"/>
        <br><br>If a Nurse: <br>
        Assigned Doctor ID:<input type="text" placeholder="0000" name="AssignedDoctorID"/>
        <button type="submit">Add Employee</button>
    </form>
</div>