<div>
    <h1>Home Page</h1>
    <a href="/admin/profile"><button>View Profile</button></a>
    <a href="/admin/adde"><button>Add employee</button></a>
    <br><br><h1>Reports:</h1>
    <h3>General Appointment Report</h3>
    <p>The General Appointment Report creates a report that sorts Departments by how many appointments each gets within a certain time period.</p>
    <a href="/admin/repgar"><button><Link to ="">Start Report</button></a><br>

    <h3>General Revenue Report</h3>
    <p>The General Revenue Report creates a report that sorts Departments by how much revenue each makes within a certain time period.</p>
    <a href="/admin/repgrr"><button>Start Report</button></a>

    <h3>Department Appointment Report</h3>
    <p>The Department Appointment Report creates a report that sorts Doctors within a specified Department by how many appointments each gets within a certain time period.</p>
    <a href="/admin/repdar"><button>Start Report</button></a>
</div>