<!-- Department Appointment Report

SELECT E.EmployeeID,E.FirstName,E.LastName,D.DepartmentName,COUNT(A.AppointmentID) AS "Appointments"
FROM department AS D, appointment AS A, employee as E
WHERE A.DoctorID=E.EmployeeID AND E.DepartmentID=D.DepartmentID AND A.AppointmentDate>=min AND A.Appointment<=max
GROUP BY E.EmployeeID
ORDER BY "Appointments";


-->
<script>
/*
const [rep,setRep] = useState({
    DepartmentName: "",
    min: "",
    max: ""
})

const change = (e) =>{
    setRep((prev)=>({...prev, [e.target.name]:e.target.value}));
}
console.log(rep);
//const nav = UseNavigate();
const submit = async e =>{
    e.preventDefault()
    const [rows] = await router.get("/pulldar", {min : rep.min},{max : rep.max},{DepartmentName : rep.DepartmentName})
    res.json(rows)
};*/
</script>
<div>
    <h1>Department Appointment Report</h1>
    Insert Department, Minimum and Maximum Range for the Dates
    <form action='/pulldar' method="post">
    <label>Department:<input type="text" placeholder="Department" name="DepartmentName" value="<%= locals.DepartmentName %>" required></label>
    <label>Minimum:<input type="date" placeholder="YYYY-MM-DD" name="min" value="<%= locals.min %>" required></label>
    <label>Maximum:<input type="date" placeholder="YYYY-MM-DD" name="max" value="<%= locals.max %>" required></label>
    <br><button type="submit">Start</button>
    </form>
</div>